.simple-checkbox {
    input[type="checkbox"] {
        display: none;

        &:checked+label {
            &:before {
                font-family: FontAwesome;
                content: "\f00c";
                font-size: 12px;
                color: #99a1a7;
                text-align: center;
                line-height: 15px;
                background-color: #ededed;
            }
        }
    }

    input[type="checkbox"]+label {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        cursor: pointer;
        position: relative;
        margin-right: 15px;
        font-size: 13px;

        &:before {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            position: relative;
            bottom: 2px;
            content: "";
            border: 1px solid #ccc;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            background-color: #fafafa;
        }
    }
}

.simple-radio {
    input[type="radio"] {
        display: none;

        &:checked+label {
            &:before {
                font-family: FontAwesome;
                content: "\f111";
                color: #99a1a7;
                font-size: 8px;
                text-align: center;
                line-height: 15px;
            }
        }
    }

    input[type="radio"]+label {
        display: block;
        cursor: pointer;
        position: relative;
        margin-right: 15px;
        font-size: 13px;

        &:before {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
            border-radius: 8px;
            content: "";
            border: 1px solid #ccc;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            position: relative;
            bottom: 2px;
            background-color: #fafafa;
        }
    }
}

.simple-radio.simple-radio-inline {
    input[type="radio"]+label {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
    }
}

.simple-radio.radio-green {
    input[type="radio"] {
        &:checked+label {
            &:before {
                color: #53d76a;
            }
        }
    }
}
