.onoffswitch {
    position: relative;
    width: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #e4e4e4;
        border-radius: 20px;
        position: relative;
    }

    .onoffswitch-inner {
        -webkit-transition-property: margin;
        -moz-transition-property: margin;
        -o-transition-property: margin;
        transition-property: margin;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        width: 200%;
        margin-left: -100%;

        &:before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            width: 50%;
            height: 18px;
            padding: 0;
            line-height: 1.8;
            font-size: 10px;
            color: #fff;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            content: "ON";
            padding-left: 6px;
            background-color: #53d76a;
            color: #fff;
        }

        &:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            width: 50%;
            height: 18px;
            padding: 0;
            line-height: 1.8;
            font-size: 10px;
            color: #fff;
            content: "OFF";
            padding-right: 6px;
            background-color: #eee;
            color: #999;
            text-align: right;
        }
    }

    .onoffswitch-switch {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        width: 15px;
        margin: 2px;
        background: #fff;
        border: 2px solid #e4e4e4;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 28px;
    }
}

.onoffswitch.onoffswitch-blank {
    .onoffswitch-inner {
        &:before {
            content: "";
        }

        &:after {
            content: "";
        }
    }
}

.onoffswitch-checkbox {
    &:checked+.onoffswitch-label {
        .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-switch {
            right: 0px;
        }
    }
}
