.easy-pie-chart {
    position: relative;
    width: 110px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }

    .percent {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        line-height: 110px;
        z-index: 2;

        &:after {
            content: "%";
            margin-left: 0.1em;
            font-size: 0.8em;
        }
    }
}

.chart-nav {
    margin-bottom: 40px;

    ul {
        list-style-type: none;
        border-bottom: none;
        margin-bottom: 30px;
        margin: 0px;
        padding: 0px;
        display: inline;

        li {
            margin: 0px;
            padding: 0px;
            display: inline;

            a {
                font-size: 0.9em;
                border: none;
                padding: 5px 8px;
                color: #555;

                &:hover {
                    border: none;
                    text-decoration: none;
                    background-color: #ececec;
                    border-bottom: 1px solid #e1e1e1;
                }
            }
        }

        li.active {
            a {
                background-color: #ececec;
                border-bottom: 1px solid #e1e1e1;

                &:hover {
                    background-color: #ececec;
                    border-bottom: 1px solid #e1e1e1;
                }
            }
        }
    }
}

.chart-content {
    margin-bottom: 15px;
}

#line-chart1 {
    height: 250px;
}

.flot-tooltip {
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    color: #aaa;
}

#flotTip {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #f3f3f3 !important;
    color: #555 !important;
    border-color: silver !important;
}

.jqstooltip {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: #f3f3f3 !important;
    color: #555 !important;
    border-color: silver !important;
    width: initial !important;
    height: initial !important;
}

.sales-chart {
    width: 100%;
    height: 350px;
}

.demo-flot-chart {
    width: 100%;
    height: 350px;
}

#visit-chart {
    height: 300px;
}


.donut-label {
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 3px;
}

.secondary-stat {
    .secondary-stat-item {
        color: #fff;
        background-color: #aaa;
        padding: 5px 20px 0 20px;

        .data {
            float: left;
            margin-bottom: 0;
        }

        .inlinesparkline {
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            position: absolute;
            left: 15px;
            bottom: 0;
        }
    }

    #secondary-stat-item1 {
        background-color: #3f7577;
    }

    #secondary-stat-item2 {
        background-color: #67773f;
    }

    #secondary-stat-item3 {
        background-color: #d36b19;
    }
}

.jqsfield {
    color: #555 !important;
}


.panel-pie-chart {
    .panel-body {
        text-align: center;
    }

    ul {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-bottom: 0;

        >li {
            text-align: center;
            font-size: 0.85em;
            padding-right: 24px;
            margin-bottom: 5px;
        }
    }
}

.big-number {
    font-family: "latolight";
    font-size: 3.5em;
}

.big-number-stat {
    span {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
    }

    em {
        display: block;
        font-style: normal;
    }

    .col-left {
        float: left;
        margin-right: 10px;
        line-height: 1.8;
    }

    .col-right {
        float: right;
        position: relative;
        top: 1.5em;
    }
}

#demo-d3-heatmap {
    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

rect.bordered {
    stroke: #e6e6e6;
    stroke-width: 1px;
}

text.mono {
    font-size: 12px;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

#demo-d3-barchart {
    svg {
        max-width: 100%;
        max-height: 100%;
    }
}
