.label-low {
    background-color: #626262;
}

.label-medium {
    background-color: #296eaa;
}

.label-high {
    background-color: #11b4c2;
}

.label-urgent {
    background-color: #e7cd0c;
}

.label-emergency {
    background-color: #e7a13d;
}

.label-critical {
    background-color: #db3833;
}
