.main-header {
    margin-bottom: 30px;

    h2 {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        border-right: 1px solid #ccc;
        margin: 0;
        padding-right: 10px;
        margin-right: 10px;
        color: #881717;
        border-right-color: #dd3737;
    }

    em {
        color: #bbb;
        color: #b81f1f;
    }
}

.top-bar {
    padding: 5px 0;
    background-color: #555;
    background-color: $themeColor;
    padding: 0 5px;

    .logo {
        position: relative;
        top: 7px;
        top: 0;
        padding: 5px 0;
    }

    .top-bar-right {
        text-align: right;
        padding-right: 15px;

        .btn-link {
            color: #ddd;
            color: #f0a4a4;

            &:hover {
                color: #fff;
                color: #fff;
            }
        }

        #global-volume {
            padding: 0;

            .badge {
                display: none;
            }
        }

        #start-tour {
            display: none;
        }
    }

    .searchbox {
        margin: 10px 0;
        padding-left: 0;
        top: 3px;

        input[type="search"] {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 3px 6px;
            height: 28px;
            font-size: 0.85em;
            color: #fff;
            background-color: #4d4d4d;
            border-color: #484848;
            -webkit-appearance: none;
            background-color: #6a1212;
            border-color: #6a1212;
        }

        .btn {
            padding: 3px 6px;
            background-color: #4d4d4d;
            border-color: #484848;
            background-color: #c12121;
            border-color: #6a1212;

            .fa {
                color: #343434;
                color: #6a1212;
            }

            &:hover {
                border-color: #484848;
                border-color: #6a1212;

                .fa {
                    color: #1a1a1a;
                    color: #540e0e;
                }
            }
        }
    }

    .notifications {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        text-align: left;
        margin-left: 10px;
        margin-right: 28px;

        .notification-item {
            position: relative;
            margin-left: 25px;

            .open {
                .circle {
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 19px;
                    left: 4px;
                    background-color: #fff;
                }
            }

            .btn-group.open {
                >a {
                    color: #fff;
                }
            }

            .btn-group {
                >a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            .fa-circle {
                color: #fff;
            }
        }

        .btn-group.open {
            .dropdown-toggle {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
        }

        >ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            display: inline;

            li {
                margin: 0px;
                padding: 0px;
                display: inline;
            }

            >li {
                li {
                    display: block;
                    padding: 0;
                    border-top: 1px solid #f1f1f1;

                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }

        .count {
            position: absolute;
            top: -7px;
            left: 58%;
            padding: 0px 5px;
            border-radius: 30px;
            line-height: 16px;
            text-align: center;
            font-size: 10px;
            border-width: 2px;
            border-style: solid;
            color: #fff;
            background: #e60404 !important;
            border-color: #555;
            border-color: $themeColor;
        }

        .dropdown-menu {
            top: 26px;
            width: 350px;

            .notification-header {
                font-size: 0.85em;
                font-weight: 700;
                line-height: 2;
                padding: 5px 8px;
            }

            .notification-footer {
                a {
                    text-align: center;
                    font-size: 0.85em;

                    &:hover {
                        background: none;
                        text-decoration: underline;
                    }
                }
            }

            .text {
                font-size: 0.85em;
                margin-bottom: 0;
                color: #888;
            }

            .timestamp {
                font-size: 0.75em;
                color: #888;
            }
        }

        .inbox {
            .dropdown-menu {
                left: -140px;
            }

            .inbox-item {
                display: block;
            }

            .inbox-item.unread {
                background-color: #f5f5f5;
            }

            img {
                width: 32px;
            }

            .name {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 0.85em;
                color: #555;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        .general {
            .dropdown-menu {
                left: -182px;

                li {
                    a {
                        .fa {
                            min-width: 14px;
                        }

                        .timestamp {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    .logged-user {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        text-align: left;

        .btn {
            padding: 0;
            border: none;
            font-size: 0.9em;
            font-weight: 700;
            text-decoration: none;
            color: #fff;

            .name {
                font-weight: 400;
                font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma,
                    Verdana, sans-serif;
            }

            .caret {
                border-top-color: #fff;
            }

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            img {
                border: 1px solid #5e5e5e;
            }
        }

        .open {
            .btn {
                color: #fff;
            }
        }

        .dropdown-menu {
            left: -78px;
            top: 28px;
            padding: 0;
            left: -88px;
            top: 29px;

            >li {
                border-top: 1px solid #f1f1f1;

                &:first-child {
                    border-top: none;
                }

                >a {
                    color: #555;
                    font-size: 0.9em;
                }
            }
        }
    }

    .dropdown-menu {
        padding: 0;

        >li {
            >a {
                padding: 8px;

                &:hover {
                    background-color: #fafafa;
                }
            }
        }
    }
}

.topMenu {
    padding: 2px 0 0 0;

    .nav-tabs {
        border: 0;
    }

    .nav {
        >li {
            padding: 0 0;

            >a {
                font-size: 13px;
                padding: 12px;
                background: none;
                border: none;
                color: #fff;
                margin: 0 0;

                &:hover {
                    box-shadow: 0 -2px #cbcbcb;
                    border: none;
                    background: #fff;
                    color: $themeColor;
                }
            }
        }

        >li.active {
            >a {
                box-shadow: 0 -2px #cbcbcb;
                border: none;
                background: #fff;
                color: $themeColor;

                &:hover {
                    box-shadow: 0 -2px #cbcbcb;
                    border: none;
                    background: #fff;
                    color: $themeColor;
                }
            }
        }
    }
}

.topUserBar {
    padding: 5px 5px 0;
}
