.badge.element-bg-color-blue {
    background-color: #1d92af;
}

.badge.element-bg-color-green {
    background-color: #859419;
}

.badge.element-bg-color-seagreen {
    background-color: #3f7577;
}

.badge.element-bg-color-orange {
    background-color: #ce7b11;
}
