.taskStt1 {
    color: #333;
    background: #e2efda;
}

.taskStt2 {
    color: #333;
    background: #e3b7eb;
}

.taskStt3 {
    color: #333;
    background: #c2dfff;
}

.taskStt4 {
    color: #333;
    background: #ffcd85;
}

.taskStt5 {
    color: #333;
    background: #fcbdbd;
}

.taskStt6 {
    color: #333;
    background: #fff494;
}

.taskStt7 {
    color: #333;
    background: #d2f5b0;
}

.taskStt8 {
    color: #333;
    background: #c9ccc4;
}

.taskStt9 {
    color: #333;
    background: #a9a9a9;
}

.taskStt10 {
    background: #81f4ff;
}

.severity1 {
    background: #f2dede;
}

.priority1 {
    background: #f2dede;
}

.severity2 {
    background: #fcf8e3;
}

.priority2 {
    background: #fcf8e3;
}

.severity3 {
    background: #d9edf7;
}

.priority3 {
    background: #d9edf7;
}

.severity4 {
    background: #dff0d8;
}

.priority4 {
    background: #dff0d8;
}

.severity5 {
    background: #a9a994;
}

.priority5 {
    background: #a9a994;
}
