.fontsize-85 {
    font-size: 0.85em;
}

.fontsize-90 {
    font-size: 0.9em;
}

.fontsize-100 {
    font-size: 1em;
}

.fontsize-110 {
    font-size: 1.1em;
}

.fontsize-120 {
    font-size: 1.2em;
}

.fontsize-130 {
    font-size: 1.3em;
}

.fontsize-140 {
    font-size: 1.4em;
}

.fontsize-150 {
    font-size: 1.5em;
}

.smallFont {
    font-size: 11px;
}
